body {
  background-color: grey;
}

.MainDiv {
  background-color: rgb(185, 123, 123);
  width: 10rem;
  margin: 20rem;
  margin-left: 40rem;
  box-shadow: 5px 10px black;
}

.node {
  color: whitesmoke;
}
